@import "tailwindcss";

@theme {
  --color-main: #4744CC;
  --color-main2: #2723c4;
  --color-blk: #28393E;
}

#root {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

.login {
  height: 500px;
  width: 400px;
}